[submodule "thirdparty/maki"]
	path = thirdparty/maki
	url = https://github.com/mapbox/maki.git
[submodule "thirdparty/omt-osm-bright-gl-style"]
	path = thirdparty/omt-osm-bright-gl-style
	url = https://github.com/openmaptiles/osm-bright-gl-style.git
